body {

    background-color: whitesmoke;
    margin: 0px;
}

h1 {
    text-align: center;
    color: #3b5998;
}

p {
    text-align: center;
    font-family: verdana;
    font-size: 20px;

}

.task {
    background-color: #333;
  }
  
  .task a{
    color: #f2f2f2;
    text-align: left;
    padding: 24px 24px;
    text-decoration: none;
    font-size: 24px;
  }
  
  .task a:hover {
    background-color: #3b5998;
    color: black;
  }

  #time {
    color: #f2f2f2;
    margin-top: auto;
    margin-top: 0em;
    text-align: right;
  }

  .button1 {
    background-color: #3b5998; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  #svar {
    text-align: left;
    font-size: 15px;
    
  }

  
  

  


  
  
 